.no-date{
    display: flex;
    justify-content: center;
}

.item-form{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableEdit {
    display: none;
}

.tableRow:hover .tableEdit {
    display: block;
}

.file-label {
    font-weight: 500;
    font-family: Roboto;
    cursor: pointer;
    border: solid 1px;
    border-radius: 20px;
    padding: 3px 10px;
}

img{
    width: 40%;
    height: auto;
}