<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
        a {
            text-decoration: none;
            color: blue;
            border: solid 1px blue;
            font-family: Arial;
            border-radius: 5%;
            font-weight: 600;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    Hi {{username}}, <br /><br />

    Please click below to reset your password,<br /><br />

    <a href={{url}}>Reset Password</a><br /><br /><br />


    Do not reply.<br /><br />

    Thanks<br />
    BillsApp
</body>
</html>